* {
    box-sizing: border-box;
}

*:after {
    box-sizing: border-box;
}

*:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /*transition-duration: 200ms;*/
}

.viewer {
    pointer-events: none;
    cursor: default;
   -webkit-perspective: 200px; /* Apply perspective to children */
    perspective: 200px; 
    perspective-origin: 50% 50%;
}

#book {
    pointer-events: auto;
    width: 100%;
    height: 100%;
    transform: translateZ(0px); /* Implement pinch2zoom? */
    transform-style: preserve-3d; /* Gets faux 3D space for pages */
}

.page {
    height: 100%;
    overflow: hidden;
}

.page iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0px none;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

.left {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}

.right {
    float: right;
    position: absolute;
    top: 0;
    right: 0
}

.promoted {
  will-change: transform;
  transform: translateZ(0);
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}


/* Arrow buttons for desktops */

.arrow-controls {
    -webkit-transition: none;
    transition: none;
    width: 30px;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
    background: rgba(100, 100, 100, 0.4);
    /*z-index: 10;*/
}

.previous-page {
    float: left;
    margin: 0 0 0 -30px;
    float: left;
    border-radius: 10px 0 0 10px;
}

.next-page {
    float: right;
    margin: 0 -30px 0 0;
    border-radius: 0 10px 10px 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow-tap {
    opacity: 1;
}

.first-page .previous-page {
    opacity: 0;
}

.last-page .next-page {
    opacity: 0;
}

.first-page .next-page {
    -webkit-animation: next-page 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation: next-page 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -o-animation: next-page 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease-in-out;
    -ms-animation: next-page 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
    -webkit-animation: next-page 1s;
    animation: next-page 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes next-page {
    0% {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(6px);
        -ms-transform: translateX(6px);
        transform: translateX(6px);
    }
    100% {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes next-page {
    0% {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(6px);
        -ms-transform: translateX(6px);
        transform: translateX(6px);
    }
    100% {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


/* To be removed eventually */

/*@import './animation.css';*/

@import './plotter.css';


@media (orientation: portrait) {
    body .viewer {
        width: calc(100vh * 1540/(1000 * 2));
        height: 100vh;
        max-height: calc(100vw * 1443/1114); /* Default CSS when JS is turned off */
    }
    body .page {
        backface-visibility: hidden;
        width: 100%;
    }
    body .page iframe{
        backface-visibility: hidden;
        width: 100%;
    }    
    body .flipped {
        transform: rotateY( 0deg );
    }

}

@media (orientation: landscape) {
    body .viewer {
        width: calc(100vh * 1540/1000);
        height: 100vh;
        max-height: calc(50vw * 1443/1114);
    }
    body .page {
        backface-visibility: visible;
        width: 50%;
    }
    body .page iframe{
        backface-visibility: visible;
        width: 50%;
    }
    body .flipped {
        transform: rotateY( 180deg );
    }
}
